<div class="carousel carousel-slider temple-slider" >
        <img src="https://k6u8v6y8.stackpathcdn.com/blog/wp-content/uploads/2015/06/gujarat-shiva-temples.png" class="responsive-img carousel-item active" >
        <img src="https://assets.traveltriangle.com/blog/wp-content/uploads/2015/07/Tirupati-Temple-at-night.jpg" class="responsive-img carousel-item">
</div>

<script >
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.temple-slider');
            var instances = M.Carousel.init(elems, { indicators:true});
        });
          
</script>
