<div class="navbar-fixed">
<nav style="background: linear-gradient(to right, #ffdf73, #f34426);padding-left:10%;padding-right:10%;">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo black-text hide-on-small-only"> Temples of India </a>
      <a href="#" class="brand-logo black-text hide-on-med-and-up" style="font-size:1.25rem;"> <strong> Temples of India </strong> </a>
      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <strong> 
        <li><a href="/home" class="black-text">Home</a></li>
        <li><a href="/favourites" class="black-text">Favourites</a></li>
        <li><a href="" class="black-text"> Search </a></li>
        <li ><a href="#" class="black-text profileDropDown-trigger" data-target="profileDropDown" >Profile <i class="fa fa-chevron-down" aria-hidden="false"></i> </a></li>
      
        </strong>
      </ul>
    </div>
</nav>
</div>

<%-include('./profileDropDown.ejs')%>