<!-- Dropdown Structure -->
<ul id='profileDropDown' class='dropdown-content' style="background: linear-gradient(to right, #ffdf73, #f34426);">
        <li><a href="#!"  class="black-text" >Login</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!" class="black-text" >Signup</a></li>
      </ul>
<script>
    
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.profileDropDown-trigger');
    var instances = M.Dropdown.init(elems, {hover:true,inDuration:1700,coverTrigger:false,autoTrigger:true});
  });
</script>