<div class="container" style="margin-top:3%;">
<div class="huge" > <strong style="font-size:3vh">Your Contributions</strong> </div> <br>
<div class="card">
<div class="container">
            <%var obj={"views":30,"temples":10}%>
            <div class="row " style="padding: 5%;">
                <div class="col s6" style="padding-right:18%;border-right: 1px solid grey;line-height:0px; ">
                       <div class="conatiner">
                            <div class="row center-align">
                                     <input type="text" id="views"  value='0' style="text-align: center;border:none;font-size:2rem;"> 

                            </div>  
                            <div class="row center-align">
                                 <h5>   Views </h5>
                            </div>
                       </div> 
                        
                </div>
                <div class="col s6" style="padding-left:18%;" >
                        <div class="conatiner">
                                <div class="row center-align">
                                         <input type="text" id="temples"  value='0' style="text-align: center;border:none;font-size:2rem;">

                                </div>  
                                <div class="row center-align">
                                     <h5>  Temples</h5>
                                </div>
                           </div> 
                
                
                </div>
            </div>
</div>
</div>
</div>

<script>
    setInterval(()=>{
        var obj=JSON.parse('<%-JSON.stringify(obj)%>')
        var views=obj.views;
        var temples=obj.temples;
        var cur_views=document.getElementById('views').value;
        
        if(cur_views!=views){
            cur_views++;
            document.getElementById('views').value=cur_views;
        }
        

    },200)

    setInterval(()=>{
        var obj=JSON.parse('<%-JSON.stringify(obj)%>')
        var views=obj.views;
        var temples=obj.temples;
        var cur_temples=document.getElementById('temples').value;
        
        if(cur_temples!=temples){
            cur_temples++;
            document.getElementById('temples').value=cur_temples;
        }
        

    },1000)

    
                

</script>
