<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    
</head>
<body>
        <%-include('./partials/Homepage/navbar.ejs')%>
        <%-include('./partials/Homepage/caraousel.ejs')%>
        <%-include('./partials/Homepage/yourContributions.ejs')%>
</body>
<%-include('./partials/Materialize/materialize.ejs')%>
</html>