<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<style>
    
    html { 
        background: url('/assets/images/background.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
      }
</style>
<body style="overflow: hidden;">
    
        <%-include('./partials/Login/loginCard.ejs')%>


</body>
<%-include('./partials/Materialize/materialize.ejs')%>
</html>