<div class="valign-wrapper">
    
    <div class="container center-align" >
        <h1 style="font-family: PlayfairDisplay;"> <font class="white-text" style="text-shadow: 1px 1px black;margin-left:30%;">Temples of India</font> </h1>
    </div>

    
    <div class="container" id="loginContainer" style="padding:7.80rem;opacity:0.95;" onclick="document.getElementById('loginContainer').style.opacity='1.00'" >
        <div class="card  z-depth-5"  id="loginCard" style="width:90%; padding:5%;">
            <div class="card-title"> <strong style="font-family: Mukta;">Login</strong>  </div>  
        
            <div class="card-content hide-on-small">
                <div class="row">

                    <div class="col s12">
                        <label for="email " style="color: #a50740;"> <strong> Email </strong></label>
                            <input type="email" class="validate"   name="email" id="email">
                            
                    </div>

                
                </div>

            <div class="row">
                <div class="col s12">

                            
                            <label for="email " style="color: #a50740;"> <strong>Password </strong></label>
                                <input type="password" class="validate"  name="password" id="password" >
                                    
               </div>
            </div>
            
            <div class="row" >
                <div class="col s7 align-left">
                    <button class="white hoverable btn black-text" style="border-radius: 1rem;" > <strong> Signup </strong></button>
                </div>

                <div class="col s5 align-left">
                    <button class="hoverable btn pink darken-1 black-text" style="border-radius: 1rem; margin-left:20%;"> <strong> Login</strong></button>
                </div>
                
            </div>

            <div class="valign-wrapper" style="padding:5%;">
                  <div class="divider black" style="width: 80%;"></div>
                    &nbsp;OR&nbsp;
                  <div class="divider black" style="width: 80%;"></div>
                  
            </div>

            <div class="row" >
                <div class="col s7 align-left">
                        <a href="/facebook_login" style="border-radius: 1% 1%;margin-left:30%;">
                            <img src="/assets/images/facebook_logo/logos_facebook.png" class="responsive-img" alt="facebook login">
                        </a>
                </div>

                <div class="col s5 align-left">
                    <a href="/google_login"  style="border-radius: 1% 1%; margin-left:30%;">
                        <img src="/assets/images/google_logo/flat-color-icons_google.png" class="responsive-img" alt="google login">
                    </a>
            
                </div>
                
            </div>


            
            
            </div>
        </div>


    </div>




</div>

<style>
    #loginCard{
        padding: 2%;
        
        
    }

    input#email , input#password{
        border: 1px ;
        border-style:solid;
        padding: 5%;
        height: 18px;
        width: 90%;
    }

    

</style>
